fieldset{margin-bottom: 1rem;
         color: gold;}
 legend{color: silver;}
 h1{text-align: center;
 text-decoration:underline;
color: goldenrod;}
.formatting{background: black;
           color: white;
           text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2rem;
margin:1rem}

 